/*pie de paginas......................................*/
footer {
  background: linear-gradient(to bottom, rgb(12, 12, 12), grey);
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;

  .redesPie {
    font-size: 3rem;
    margin: 1rem;
    display: inline-block;
    i {
      color: #12c8dd;
      margin: 2rem;
      padding: 1rem;
      list-style: none;
    }
    a {
      text-decoration: none;
    }
  }
}

.contactoPie p i{
  font-size: 1.5rem;
  color:$color-fondo

}
.datosPie p{
  color: $color-fondo;
  font-size: 1.5rem;
}

.derechosPie{
  font-size: 1.2rem;
  color: $color-fondo;
  text-decoration: none;
}        