/* estilo header*/
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logo a img {
  border-radius: 100%;
  margin-left: 10rem;
  margin-top: 10rem;
}
.navbar-toggler-icon {
  background-color: #b88d97;
  border-style: solid;
  border-radius: 2rem;
  font-size: 4rem;
  margin-right: 3rem;
}
#barraNav{
  font-family: $nav-font;
  text-decoration: none;
}


.nav-link {
  font-family: $nav-font;
  font-size: 2rem;
}
.tituloCarrousel{
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: 8rem;
  text-decoration: solid;
  margin-bottom: 5rem;
}

header nav {
  height: 15vh;
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
  color: black;
}
header .nav-item{
  padding: 0 0.8rem;
  list-style: none;
  box-shadow: #ebc5ce;
  text-decoration: none;
}
header nav .navbar-nav{
  display: flex;
  margin: 0.3rem;
  padding: 0.5rem;
  text-decoration: none;

}

.nav-link:hover {
  color: $color-sec;
  background-color: #b88d97;
  border-radius: 5rem;
}

.logoWsp{
  width: 5rem;
  height: auto;
  position: fixed;
  left: 90%;
  bottom: 20%;
  animation-timing-function: linear;
  z-index: 2;
}
.logoWsp:hover{
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
