/* estilo header*/
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logo a img {
  border-radius: 100%;
  margin-left: 10rem;
  margin-top: 10rem;
}
.navbar-toggler-icon {
  border: solid #fff;
  border-radius: 2rem;
  font-size: 4rem;
  margin-right: 3rem;
  position: relative;
}
.navbar-toggler-icon::before{
  content: "";
  border: solid #fff;
  border-radius: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.navbar-toggler-icon:after{
  content: "";
  border: solid #fff;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
#barraNav{
  font-family: $nav-font;
  text-decoration: none;
  padding-left: 12rem;
}


.nav-link {
  font-family: $nav-font;
  font-size: 2rem;
}
.tituloCarrousel{
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: 8rem;
  text-decoration: solid;
  margin-bottom: 5rem;
}

header nav {
  height: 15vh;
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
  color: black;
}
header .nav-item{
  padding: 0 0.8rem;
  list-style: none;
  box-shadow: #ebc5ce;
  text-decoration: none;
}
header nav .navbar-nav{
  display: flex;
  margin: 0.3rem;
  padding: 0.5rem;
  text-decoration: none;

}

.nav-link:hover {
  color: $color-sec;
  background-color: #b88d97;
  border-radius: 5rem;
}

.logoWsp{
  width: 7rem;
  height: auto;
  position: fixed;
  right: 5rem;
  bottom: 10rem;
  animation-timing-function: linear;
  z-index: 2;
}
.logoWsp:hover{
  background-color: green;
  border-radius: 100%;
}
