.contenedor__inicio {
  height: 50vh;
}

.contenedor__principal {
  flex-direction: row;
  justify-content: center;
}


.cierre {
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: $titulos-size;
  font-weight: 2rem;
  bottom: 3rem;
}

.cards {
  display: flex;
  flex-direction: row;
}

.tarjeta {
  font-family: $nav-font;
  font-size: 1.5rem;
  background-color: $color-fondo;
  border-radius: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  a:hover {
    color: $color-sec;
  }

  .tarjeta__img {
    width: 260px;
    height: 160px;
    margin-right: 5rem;
    border-radius: 1.5rem;
  }

  .tarjeta__titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    text-overflow: ellipsis;
  }
}
.boton {
  padding: 0.5rem;
  background-color: $color-fondo;
  color: black;
  box-shadow: 0.5rem 0.5rem #5b5b5b;
  border-radius: 2rem;
  font-size: 2rem;

  text-decoration: none;
}
.boton--derecha {
  position: absolute;
  right: 2rem;
  bottom: 0rem;
}
