// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  html {
    font-size: 42%;
  }
  .clearfix img {
    margin: 2rem;
  }
  footer{
    .datos_pie{
      display: none;
    }
    .derechos_pie{
      display: none;
    }
    .redes_pie{
      display: inline-flex;
      justify-content: center;
    }
  }
  
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  html {
    font-size: 47%;
  }
  header nav{
    height: auto;
  }
  #formulario {
    grid-template-areas:
      "titulo titulo"
      "nombre  nombre"
      "motivo motivo"
      "telefono telefono"
      "whatsaap whatsaap"
      "mensaje mensaje"
      "borrar enviar";
  }
  .contenedor-Productos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  .galeria img {
    padding: 3rem;
  }
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl{
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  #barraNav li a {
    font-size: 1.5rem;
  }
  
  #logo a img {
    width: 50%;
    height: 50%;
    margin: 2rem;
  }
}

/*media header*/
@media (max-width: 600px) {
  .navbar-nav {
    align-items: flex-start;
  }
  .navbar-toggler-icon {
    display: flex;
  }
  .nav-link {
    display: none;
    width: 100%;
    ul {
      width: 100%;
      flex-direction: column;
      a {
        padding: 0.5rem 1rem;
      }
    }
  }
}
