.titulo__nosotros {
  font-family: $titulo-font;
  font-size: 5rem;
  text-align: center;
  color: $color-font;
  margin-top: 12rem;
  margin-bottom: 4rem;
}
.clearfix p {
  margin: 5rem;
  font-family: $nav-font;
}
.clearfix img {
  padding: 1rem;
}
