.tienda {
  background-color: $color-fondo;
  height: auto;
  
  text-align: center;
}
.titulo__tienda {
  font-family: $titulo-font;
  font-size: $titulos-size;
  color: $color-font;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 4rem;
}
.contenedor-Productos {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.tienda__img {
  font-size: 1rem;
  align-items: center;
  justify-items: center;
  grid-gap: 0.5rem;
  border-radius: $bordes-redon;
  img {
    width: 100%;
    height: 35rem;
    width: 10 rem;
    max-width: 100%;
    border-radius: $bordes-redon;
  }
}
p {
  font-family: $nav-font;
  font-size: 2rem;
}
.tienda__descripcion {
  font-family: $nav-font;
}
.btn--Ver {
  color: rgb(7, 6, 6);
  font-family: $nav-font;
  box-shadow: 0.5rem 0.5rem #5b5b5b;
  padding: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  :hover {
    color: $color-sec;
    background-color: $color-fondo;
  }
  a{
    color: $color-font ;
    text-decoration: none;
  }
}
