.tienda {
  background-color: $color-fondo;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0 7rem 0 7rem;
  text-align: center;
}
.titulo__tienda {
  font-family: $titulo-font;
  margin-left: 5rem;
  color: $color-font;
}
.contenedor-Productos {
  padding: 1rem 0;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.tienda__img {
  font-size: 1rem;
  align-items: center;
  justify-items: center;
  grid-gap: 0.5rem;
  border-radius: $bordes-redon;
}
p {
  font-family: $nav-font;
  font-size: 2rem;
}
.tienda__img img {
  width: 100%;
  height: 35rem;
  width: 10 rem;
  max-width: 100%;
  border-radius: $bordes-redon;
}

.tienda__descripcion {
  font-family: $nav-font;
}
.btn--Ver {
  color: rgb(7, 6, 6);
  font-family: $nav-font;
  box-shadow: 0.5rem 0.5rem #5b5b5b;
  padding: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  :hover {
    color: $color-sec;
    background-color: $color-fondo;
  }
  a{
    color: $color-font ;
    text-decoration: none;
  }
}
