$nav-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;
$titulo-font: "Dancing Script", cursive;
$color-font: #111010;
$color-fondo: #ebc5ce;
$bordes-redon: 5rem;
$color-sec: #12c8dd;

$titulos-size: 7rem;
